{% if let Some(person) = person %}
<tbody hx-swap-oob="afterbegin:#people-table-body">
    <tr id="person-{{ person.id }}" class="border-t border-slate-600">
        <td class="px-8 py-2 text-center">{{ person.id }}</td>
        <td class="px-8 py-2 text-center">{{ person.name }}</td>
        <td class="px-8 py-2 text-center">{{ person.date_of_birth.to_string() }}</td>
        <td class="px-8 py-2 text-center">{{ person.nationality }}</td>
        <td class="px-8 py-2 text-center">
            <button type="button" hx-target="#person-{{ person.id }}" hx-swap="outerHTML"
                hx-delete="/people/{{ person.id }}" hx-disabled-elt="this"
                class="rounded-md bg-rose-500 hover:bg-rose-400 px-8 py-1 shadow-md shadow-rose-500/50 hover:shadow-rose-400/50 transition">Delete</button>
        </td>
    </tr>
</tbody>
{% endif %}
{% include "add_person_form_block.html" %}
