{% extends "base_page.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="space-y-2">
    <h2 class="text-lg font-bold">Home</h2>

    <ol class="list-decimal pl-6">
        <li><a href="/current_datetime" class="text-sky-500 underline decoration-sky-500">Current Datetime</a></li>
        <li><a href="/people" class="text-sky-500 underline decoration-sky-500">People</a></li>
        <li><a href="/paginated_list" class="text-sky-500 underline decoration-sky-500">Paginated List</a></li>
    </ol>
</div>
{% endblock %}
