{% extends "base_page.html" %}

{% block title %}People{% endblock %}

{% block body %}
<div class="grid grid-cols-[2fr_1fr]">
    <div class="space-y-4">
        <h2 class="text-lg font-bold">People</h2>

        <div class="w-max rounded-lg overflow-hidden border border-slate-600">
            <table class="table-auto border-collapsed">
                <thead>
                    <tr>
                        <th class="px-8 py-2 text-center">ID</th>
                        <th class="px-8 py-2 text-center">Name</th>
                        <th class="px-8 py-2 text-center">Date of Birth</th>
                        <th class="px-8 py-2 text-center">Nationality</th>
                        <th class="px-8 py-2 text-center"></th>
                    </tr>
                </thead>
                <tbody id="people-table-body" class="bg-slate-700">
                    {% for person in people %}
                    <tr id="person-{{ person.id }}" class="border-t border-slate-600">
                        <td class="px-8 py-2 text-center">{{ person.id }}</td>
                        <td class="px-8 py-2 text-center">{{ person.name }}</td>
                        <td class="px-8 py-2 text-center">{{ person.date_of_birth.to_string() }}</td>
                        <td class="px-8 py-2 text-center">{{ person.nationality }}</td>
                        <td class="px-8 py-2 text-center">
                            <button type="button" hx-target="#person-{{ person.id }}" hx-swap="outerHTML"
                                hx-delete="/people/{{ person.id }}"
                                class="rounded-md bg-rose-500 hover:bg-rose-400 px-8 py-1 shadow-md shadow-rose-500/50 hover:shadow-rose-400/50 transition">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="space-y-4">
        <h2 class="text-lg font-bold">Add Person</h2>

        {% include "add_person_form_block.html" %}
    </div>
</div>
{% endblock %}
